*{
  box-sizing: border-box;
  font-family: 'Inter';
}
.App {
  text-align: center;
  width: 320px;
  margin: 0px auto;
  margin-top: 200px;
  background-color: #1a1b31;
  border-radius: 10px;
  box-shadow: 1 1 1 35;
  border: 1px solid #F5F5F5;

}
body{
  background: #23252C;
}
.info > img {
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* background-image: url(../img/nickMensah.png); */
  width: 317px;
  height: 317px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
.info--name {
  font-size: 25px;
  margin: 20px auto 3px auto;
  font-weight: 700;
  color:#F5F5F5;

}

.info--title {
  font-size: 15px;
  font-weight: 700;
  color: #F3BF99;
  margin: 0;
}

.info--website {
  font-size: 10.24px;
  color: #F5F5F5;
  margin: 8px auto;
  font-weight: 400;
  line-height: 15.36px;
}

.info--btn {
  width: 250px;
  margin: 15px auto;
  height: 35px;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
}

.info--btn--btn {
  width: 115px;
  height: 100%;
  border-radius: 6px;
  border: none;
  line-height: 35px;
  padding: 0;
  font-size: 15px;
  font-weight: 600;
}

.icon {
  width: 17px;
  border-radius: 6px;
  vertical-align: middle;
  margin: 0px 0px 4px 0px;
}

.about,
.interests{
  width: 250px;
  text-align: left;
  margin: 0 auto;
  color:#F5F5F5
}

.about--p,
.interest--p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4rem;
  text-align: left;
}
.footer {
  margin: 0px auto;
  background-color: #161619;
  height: 65px;
  border-radius: 0 0 10px 10px;
  width: 100%;
}

.footer--img {
  margin: 19px 12px auto 12px;
  width: 30px;
}




  





